/* stylelint-disable selector-class-pattern */
.categoryList {
  width: 60%;
  overflow-x: scroll;

  li {
    cursor: pointer;
    padding: 0 16px;
  }
}

.search {
  width: 32px;
  height: 32px;
}

.activeMenu {
  font-weight: 700;
}

.searchWrppaer {
  position: relative;

  > input {
    position: absolute;
    right: 72px;
    bottom: 0;
  }
}

.searchContainer {
  cursor: pointer;
}
