/* stylelint-disable selector-class-pattern */
.categoryList {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    padding: 0 16px;
  }
}

.search {
  width: 32px;
  height: 32px;
}

.activeMenu {
  font-weight: 700;
}

.searchWrppaer {
  position: relative;

  > input {
    position: absolute;
    right: 72px;
    bottom: 0;
  }
}

.searchContainer {
  cursor: pointer;
}
