@import '@styles/mixins';

.everything{
    @media (max-width: 576px){
        width:100%;
    height: calc(100vh - 100px);
    overflow-y: hidden;
    }
}


.download{
    display: none;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        border-radius: 12px;
        background-color: $natural-20;
        cursor: pointer;
        padding-bottom: 2px;
        width: 120px;
        height: 30px;
        font-size: 14px;
}

@media (max-width: 576px){
    display:flex;
    justify-content: space-between;
    overflow-x: scroll
}
}

.nocomment{
    @media (max-width: 576px){
        display:none;
}
}

.nana{
    font-size: 18px;
    font-weight: 700;

    @media (max-width: 576px){
       display:none;
}
}

.videodetail{
    position: relative;
    width:100%;
    height:520px;

    @media (max-width: 576px){
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 80px;
        height: 300px;
}
}

.divider{
    display: flex;
    padding-bottom: 10px;

    @media (max-width: 576px){
        flex-direction: column;
        padding-top: 320px;
}
}

.divider2{
    display: block;
    padding-bottom: 20px;
    color: $natural-50;
    font-size: 15px;

    @media (max-width: 576px){
        display:none;
}
}

.commentary{
    width:55%;
    @media (max-width: 576px){
        width:100%;
}
}

.profilecontainer{
    display: flex;
    justify-content: space-between;

  span {
      font-size: 14px;
    }
}

.list{
    padding: 0 3px;
    width:45%;
    font-size: 18px;
    @media (max-width: 576px){
        width:100%;
}
}

.profiles{
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
}

.displayer{
    display: flex;

    img {
        margin:0 8px;
        margin-top: 8px;
        cursor: pointer;
        width: 32px;
        height: 32px;
    }

    @media (max-width: 576px){
        display:none;
}
}

.dont{
    padding: 0 20px;
    font-weight: 80;
    @media (max-width: 576px){
        padding: 0;
}
}

.newitemcontainer{
    display: flex;
    margin: 8px 0;
    border-top: 2.5px #E3E3E3 solid;
    border-bottom: 2.5px #E3E3E3 solid;
    padding: 12px;

    > img{
      margin-right: 12px;
      width: 236px;
      min-width: 236px;
      height:150px;
      object-fit: cover;
  }

  .title2{
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 700;
      -webkit-line-clamp: 2; /* number of lines to show */
              line-clamp: 2;
      -webkit-box-orient: vertical;
  }

  .date{
    color: $gray-6;
    font-size: 14px;
  }

  .name{
      padding-top: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
      -webkit-line-clamp: 1; /* number of lines to show */
              line-clamp: 1;
      -webkit-box-orient: vertical;
  }


  @media (max-width: 576px){
    > img{
      width: 180px;
      min-width: 180px;
      height:120px;
  }

        .title2{
            font-size: 16px;
        }

        .date{
            font-size: 12px;
        }

        .name{
            font-size: 14px;
        }
    }
}

.column{
    display: flex;
    flex-direction: column;

    @media (max-width: 576px){
        height: calc(100vh - 500px);
        overflow-y: scroll;
    }
}

.mrspace{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;

    @media (max-width: 576px){
      width: 100%;
      height: 120px;
}
}

.forlist{
    padding-bottom: 10px;
    word-wrap: unset;
    font-size: 15px;

    img{
        margin-right: 10px;
        border-radius: 30px;
        width: 35px;
        height: 35px;
        object-fit: cover;
    }

    span {
      font-size: 14px;
    }

    .forDesc {
      padding-bottom: 12px;
      color: $natural-60;
      font-size: 13px;
    }
}

.simple{
    font-size: 17px;
    font-weight: 700;
    @media (max-width: 576px){
        margin-bottom:10px;
}
}
