@import 'mixins';

// Font size
.font-size {
  &-0 {
    font-size: rem(0);
  }

  &-10 {
    font-size: rem(10);
  }

  &-12 {
    font-size: rem(12);
  }

  &-14 {
    font-size: rem(14);
  }

  &-15 {
    font-size: rem(15);
  }

  &-16 {
    font-size: rem(16);
  }

  &-17 {
    font-size: rem(17);
  }

  &-18 {
    font-size: rem(18);
  }

  &-21 {
    font-size: rem(20);
  }

  &-24 {
    font-size: rem(24);
  }

  &-28 {
    font-size: rem(26);
  }

  &-30 {
    font-size: rem(30);
  }

  &-32 {
    font-size: rem(30);
  }

  &-36 {
    font-size: rem(36);
  }

  &-40 {
    font-size: rem(40);
  }

  &-48 {
    font-size: rem(48);
  }

  &-50 {
    font-size: rem(50);
  }

  &-60 {
    font-size: rem(60);
  }

  &-70 {
    font-size: rem(70);
  }

  &-80 {
    font-size: rem(80);
  }
}
