@import 'mixins';

/* Slide Fade Up */
.slide-fadein-up-enter {
  transform: translateY(20px);
  opacity: 0;
}

.slide-fadein-up-enter-active {
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.4s;
  opacity: 1;
}

.slide-fadein-up-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-fadein-up-exit-active {
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.4s;
  opacity: 0;
}

/* Slide Fade Right */
.slide-fadein-right-enter {
  transform: translateX(-20px);
  opacity: 0;
}

.slide-fadein-right-enter-active {
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.4s;
  opacity: 1;
}

.slide-fadein-right-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-fadein-right-exit-active {
  transform: translateX(20px);
  transition: opacity 0.3s, transform 0.4s;
  opacity: 0;
}

/* Zoom Fade */
.zoom-fadein-enter {
  transform: scale(0.99);
  opacity: 0;
}

.zoom-fadein-enter-active {
  transform: scale(1);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1;
}

.zoom-fadein-exit {
  transform: scale(1);
  opacity: 1;
}

.zoom-fadein-exit-active {
  transform: scale(1.01);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
}

/* Fade */
.fadein-enter {
  opacity: 0;
}

.fadein-enter-active {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.fadein-exit {
  opacity: 1;
}

.fadein-exit-active {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}